{% extends "layout.html" %}
{% block login %}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/login.css')}}">
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <p class="lead fw-normal mb-0 me-3">Iniciar sesion</p> 
            <div class="divider d-flex align-items-center my-4">
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="user">Usuario</label>
              <input type="text" id="user" name="user" class="form-control form-control-lg"
                placeholder="Ingrese su usuario" />
             
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="passwd">Contraseña</label>
              <input type="password" id="passwd" name="passwd" class="form-control form-control-lg"
                placeholder="Enter password" />
            
            </div>
  
            <div class="form-outline mb-4">
                <label class="form-label" for="paralelo">Paralelo</label>
              <select class="form-control" name="paralelo" id="paralelo">
                <option value="A">Paralelo A</option>
                <option value="B">Paralelo B</option>
              </select>
              
            </div>
             <!-- año lectivo input -->
             <div class="form-outline mb-4">
                <label class="form-label" for="user">Año lectivo</label>
              <input type="text" id="user" name="user" class="form-control form-control-lg"
                placeholder="Ingrese su usuario" />
            </div>
            
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href='/login_estudiante'"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar</button>
                <button type="button" class="btn btn-secondary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Portal de maestro</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Inicio de sesion
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
{% endblock %}