{% extends "layout.html" %}
{% block login %}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/login_estudiantes.css')}}">
<section class="login_estudiante">
    <div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mt-4 text-center">Estudiantes</h1>
				<p class="mb-5 text-center"></p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81ada4d6-17aa-4b8c-b6d9-0c34fc39bfee/dcheevk-ed5621f6-ad47-45b2-a05d-459a15892ce8.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzgxYWRhNGQ2LTE3YWEtNGI4Yy1iNmQ5LTBjMzRmYzM5YmZlZVwvZGNoZWV2ay1lZDU2MjFmNi1hZDQ3LTQ1YjItYTA1ZC00NTlhMTU4OTJjZTgucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jHaYYZEFeBzMrU91GdS_R88jLufeRewNRjB8UF5D4o4" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/321907a1-ac84-4c6a-bbbf-f42a95b6599b/db7x06v-4b57a4a3-72d1-436d-9cd1-2a42aa9c64f9.png/v1/fill/w_1024,h_576,q_80,strp/jinno_megumi_minimalist_by_fikrimochizou_db7x06v-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvMzIxOTA3YTEtYWM4NC00YzZhLWJiYmYtZjQyYTk1YjY1OTliXC9kYjd4MDZ2LTRiNTdhNGEzLTcyZDEtNDM2ZC05Y2QxLTJhNDJhYTljNjRmOS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.25aTLo2fFoD_DGTKwVYqERForn8JVWo9BM7d1ojG5bY" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src=https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/55f01534-9762-4e04-ab7b-6166c0e06aed/dbd50m5-3b042eb2-303e-4796-b2c8-02423b9079fc.png/v1/fill/w_1192,h_670,q_70,strp/izumi_sagiri__eromanga_sensei____vektor_by_xryns01_dbd50m5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjE2MCIsInBhdGgiOiJcL2ZcLzU1ZjAxNTM0LTk3NjItNGUwNC1hYjdiLTYxNjZjMGUwNmFlZFwvZGJkNTBtNS0zYjA0MmViMi0zMDNlLTQ3OTYtYjJjOC0wMjQyM2I5MDc5ZmMucG5nIiwid2lkdGgiOiI8PTM4NDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.LrG49GWzYsHFPuQKbmItp5kyIybbskhvHL4MZSF5T9M alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b42f1c6d-05fd-41b8-80f8-1c958d2fe814/dbgdxrw-4b7253d7-fb27-4fbd-af2e-98ea40d6a6cb.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2I0MmYxYzZkLTA1ZmQtNDFiOC04MGY4LTFjOTU4ZDJmZTgxNFwvZGJnZHhydy00YjcyNTNkNy1mYjI3LTRmYmQtYWYyZS05OGVhNDBkNmE2Y2IucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.zPQ4ihi-OT34Wi4ljSDzPKTGq6it66_Dpkvn9DUK_u4" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/72963eb2-19ee-48e6-97f0-b8e2814c1ee6/df8arae-3531a8b2-9138-431e-b30b-7399e5a1aab4.jpg/v1/fill/w_894,h_894,q_70,strp/hair_cut_v2_by_samdoesarts23_df8arae-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzcyOTYzZWIyLTE5ZWUtNDhlNi05N2YwLWI4ZTI4MTRjMWVlNlwvZGY4YXJhZS0zNTMxYThiMi05MTM4LTQzMWUtYjMwYi03Mzk5ZTVhMWFhYjQuanBnIiwid2lkdGgiOiI8PTEwODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.gWyY3dF8sYamiXoKA5N8YEJst2wz6ebMIU_fx0sRxGE" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/930db1ec-235d-4aee-bfe0-8584470a55d8/ddgpobp-5f9c9efa-136b-4d67-8e86-1c34ab920560.jpg/v1/fill/w_1045,h_765,q_70,strp/mizuno_yui_by_onstr_art_ddgpobp-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTM3IiwicGF0aCI6IlwvZlwvOTMwZGIxZWMtMjM1ZC00YWVlLWJmZTAtODU4NDQ3MGE1NWQ4XC9kZGdwb2JwLTVmOWM5ZWZhLTEzNmItNGQ2Ny04ZTg2LTFjMzRhYjkyMDU2MC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mbljB9woAv3r15UE4AcS2FGdInW9YnhZMZdokXxJIdY" alt="">
				</div>
			</div>
            <div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd7c0697-63f5-4f26-8db8-6dad33e98c46/daihnuy-49c4e7ab-0339-4c1c-9715-edf8a924c5a9.jpg/v1/fill/w_600,h_849,q_75,strp/mob_by_ry_spirit_daihnuy-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODQ5IiwicGF0aCI6IlwvZlwvZmQ3YzA2OTctNjNmNS00ZjI2LThkYjgtNmRhZDMzZTk4YzQ2XC9kYWlobnV5LTQ5YzRlN2FiLTAzMzktNGMxYy05NzE1LWVkZjhhOTI0YzVhOS5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.YdpdA5FF1QLxO-bJbdESRIBU3Uch5FDRTUI9LwnGPkA" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd7c0697-63f5-4f26-8db8-6dad33e98c46/daeun2e-01be62c0-c501-4678-aa50-00afd174ddf3.jpg/v1/fill/w_600,h_796,q_75,strp/life_of_ry_face_reveal_by_ry_spirit_daeun2e-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzk2IiwicGF0aCI6IlwvZlwvZmQ3YzA2OTctNjNmNS00ZjI2LThkYjgtNmRhZDMzZTk4YzQ2XC9kYWV1bjJlLTAxYmU2MmMwLWM1MDEtNDY3OC1hYTUwLTAwYWZkMTc0ZGRmMy5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.sTXbvlXivC1rKsQZutNh-mJHKXRlLzxmRWfBlb6h5lY" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/03f50f1d-7de3-4578-b680-bbce414bb22d/dawm7i1-5b40391d-0523-4aff-8d33-50d3b58f0be0.png/v1/fill/w_943,h_848,strp/mitsuki_nase_2_vector_by_assassinwarrior_dawm7i1-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQzOSIsInBhdGgiOiJcL2ZcLzAzZjUwZjFkLTdkZTMtNDU3OC1iNjgwLWJiY2U0MTRiYjIyZFwvZGF3bTdpMS01YjQwMzkxZC0wNTIzLTRhZmYtOGQzMy01MGQzYjU4ZjBiZTAucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.txGcHV8ZGin1hnNpoHxSxA7YG65-ONADf1M5gfJK3CM" alt="">
				</div>
			</div>

            <div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fd7c0697-63f5-4f26-8db8-6dad33e98c46/daeun2e-01be62c0-c501-4678-aa50-00afd174ddf3.jpg/v1/fill/w_600,h_796,q_75,strp/life_of_ry_face_reveal_by_ry_spirit_daeun2e-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzk2IiwicGF0aCI6IlwvZlwvZmQ3YzA2OTctNjNmNS00ZjI2LThkYjgtNmRhZDMzZTk4YzQ2XC9kYWV1bjJlLTAxYmU2MmMwLWM1MDEtNDY3OC1hYTUwLTAwYWZkMTc0ZGRmMy5qcGciLCJ3aWR0aCI6Ijw9NjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.sTXbvlXivC1rKsQZutNh-mJHKXRlLzxmRWfBlb6h5lY" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/03f50f1d-7de3-4578-b680-bbce414bb22d/dawm7i1-5b40391d-0523-4aff-8d33-50d3b58f0be0.png/v1/fill/w_943,h_848,strp/mitsuki_nase_2_vector_by_assassinwarrior_dawm7i1-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTQzOSIsInBhdGgiOiJcL2ZcLzAzZjUwZjFkLTdkZTMtNDU3OC1iNjgwLWJiY2U0MTRiYjIyZFwvZGF3bTdpMS01YjQwMzkxZC0wNTIzLTRhZmYtOGQzMy01MGQzYjU4ZjBiZTAucG5nIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.txGcHV8ZGin1hnNpoHxSxA7YG65-ONADf1M5gfJK3CM" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<script>
  var fotos = document.querySelectorAll('.img-box');
  var estudiante = document.querySelector('#student');

  for (var i = 0; i < fotos.length; i++) {

	fotos[i].addEventListener('click', function() {
		window.location.href = "/principal";
    });

  }
</script>
{% endblock %}