{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/estiloEntrenamiento/ThreeEntren.css')}}">
<meta HTTP-EQUIV="Refresh" CONTENT="23; URL=/gameTres" />
<body onload="boton_aparecer()">
    <div class="nube_container">
        <img class="nube" id="nube1" src="{{url_for('static', filename='images/inicio/nube.png')}}" alt="">
        <img class="nube" id="nube2" src="{{url_for('static', filename='images/inicio/nube.png')}}" alt="">
        <img class="nube" id="nube3" src="{{url_for('static', filename='images/inicio/nube.png')}}" alt="">
        <img class="nube" id="nube4" src="{{url_for('static', filename='images/inicio/nube.png')}}" alt="">
        <img class="nube" id="nube4" src="{{url_for('static', filename='images/inicio/nube.png')}}" alt="">
    </div>
   
    <section class="t_pickout">
        <div class="t_p_container">
            <span>Amor</span> 
        </div>
    </section>
    <section id="contenedor_video">
        <video width="800" height="400" autoplay>
            <source src="/static/videos/Amor.mp4" type="video/mp4">
        </video>
    </section>
  
    <script src="{{url_for('static', filename='javascript/animaciones_principal.js')}}" type="text/javascript"></script>
</body>

{% endblock %}