{% extends "layout.html" %}
{% block login %}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/login_estudiantes.css')}}">
<section class="login_estudiante">
	{% if iniciar == True and current_user.is_authenticated%}
	<h1>{{iniciar['nombre_actividad']}}</h1>
    <div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mt-4 text-center">Estudiantes</h1>
				<p class="mb-5 text-center"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/6437821/pexels-photo-6437821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
				</div>
			</div>

			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/5789949/pexels-photo-5789949.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/2326887/pexels-photo-2326887.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/5859732/pexels-photo-5859732.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/5692269/pexels-photo-5692269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/4625789/pexels-photo-4625789.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<div id="student" class="img-box">
					<img src="https://images.pexels.com/photos/3661336/pexels-photo-3661336.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
				</div>
			</div>
		</div>
	</div>
	{%else%}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="text-center">
		<img src="https://i.pinimg.com/originals/0a/8e/a5/0a8ea5d0e5f0c152f5d1419732a49713.gif" alt="Esperando">
	</div>
	{%endif%}
</section>

<script>
  var fotos = document.querySelectorAll('.img-box');
  var estudiante = document.querySelector('#student');

  for (var i = 0; i < fotos.length; i++) {

	fotos[i].addEventListener('click', function() {
		window.location.href = "/principal";
    });

  }
</script>
{% endblock %}