{% extends "layout.html" %}
{% block login %}
<link rel="stylesheet" href="{{url_for('static', filename='estilos/login_estudiantes.css')}}">
<section class="login_estudiante">
	{% if iniciar == True and current_user.is_authenticated and current_user.is_admin() == False%}
	<h1>{{iniciar['nombre_actividad']}}</h1>
    <div class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="mt-4 text-center">Estudiantes</h1>
				<p class="mb-5 text-center"></p>
			</div>
		</div>
		<div class="row">
			{%for alumno in alumnos%}
			<div class="col-sm-6 col-sm-6 col-lg-4">
				<span class="datos_estudiante">{{alumno.nombre}}</span><br><span class="datos_estudiante">{{alumno.apellido}}</span>
				<div class="img-box">
					<img id="student" data-*="{{alumno.alumno_id}}" src="https://images.pexels.com/photos/6437821/pexels-photo-6437821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
				</div>
			</div>
			{%endfor%}
		</div>
	</div>
	{%else%}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="text-center">
		<img src="https://i.pinimg.com/originals/0a/8e/a5/0a8ea5d0e5f0c152f5d1419732a49713.gif" alt="Esperando">
	</div>
	{%endif%}
</section>

<script>
  var estudiante = document.querySelectorAll('#student');

  for (var i = 0; i < estudiante.length; i++) {
	estudiante[i].addEventListener('click', e => {
		idstudent = e.target.getAttribute("data-*")
		window.location.href = "/principal/"+idstudent;
    });

  }
</script>
{% endblock %}