.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

label.error {
     color: red;
     font-size: 1rem;
     display: block;
     margin-top: 5px;
 }
 
 input.error, textarea.error {
     border: 1px dashed red;
     font-weight: 300;
     color: red;
 }