{% extends "administracion.html" %}
{% block add_alum %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <h2>Agregar alumno</h2>
        <form action="/add_alum" method="POST">
          <div class="form-group">
            <label for="cedula">Cedula</label>
            <input type="text" name="cedula" class="form-control">
          </div>
          <div class="form-group">
               <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control">
          </div>
          <div class="form-group">
             <label for="apellido">Apellido</label>
            <input type="text" name="apellido" class="form-control">
          </div>
          <div class="form-group">
               <label for="paralelo">Paralelo</label>
               <select class="form-select col-sm-5" name="paralelo" id="paralelo">
                    {% for paralelo in paralelos %}
                    <option value="{{paralelo['nombre_paralelo']}}">{{paralelo['nombre_paralelo']}}</option>
                    {%endfor%}
               </select>
          </div>
          <div class="form-group">
               <label for="periodo">Periodo lectivo</label>
               <input type="text" name="periodo" value="{{periodoActivo}}" class="form-control" readonly>
          </div>
          <div class="form-group">
               <label for="estado">Estado de matricula</label>
               <input type="text" name="estado" value="Activo" class="form-control" readonly>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}