{% extends "administracion.html" %}
{% block edit_alum %}

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-body">
        <form action="/update_actividad/{{actividad.actividad_id}}" method="POST">
          <div class="form-group">
            <label for="cedula">Materia</label>
            <select class="form-select col-sm-10" name="materia" id="materia" width="100%">
               {% for materia in materias %}
               <option value="{{materia['materia_id']}}">{{materia['nombre_materia']}}</option>
               {%endfor%}
          </select>
          </div>
          <div class="form-group">
               <label for="nombre">Nombre de actividad</label>
            <input type="text" name="nombre_actividad" value="{{actividad.nombre_actividad}}" class="form-control">
          </div>
          <div class="form-group">
               <label for="paralelo">Paralelo</label>   
               {% for paralelo in paralelos %}     
                  {% if paralelo['maestro_id'] == current_user.get_id() %}
                  <input type="text" name="paralelo" id="paralelo" value="{{paralelo['nombre_paralelo']}}" class="form-control" readonly>
                  {%endif%}
               {%endfor%}
          </div>
          <div class="form-group">
             <label for="apellido">Fecha de creacion</label>
            <input type="text" name="apellido" value="{{actividad.fecha}}" class="form-control" readonly>
          </div>
          <div class="form-group">
               <label for="estado">Estado de actividad</label>
               <select class="form-select col-sm-5" name="estado" id="estado">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
               </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}