{% extends "administracion.html" %} 
{% block ver_est %}
<div>
     <form action="/lista_estudiantes" method="post">
       <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-lg" for="anio_periodos">Seleccione el periodo lectivo</label>
          <select class="form-select col-sm-5" name="periodo" id="periodo">
               {% for periodo in periodosList: %}
               <option value="{{periodo['anio']}}">{{periodo['anio']}}</option>
               {%endfor%}
          </select>
          <div class="col-sm-2">
               <input class="btn btn-primary" type="submit" id="botonenviar" value="Mostrar">
          </div>
       </div>
     </form>

     <hr>

     <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
            <tr>
              <td>ID</td>
              <td>Cedula</td>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Paralelo</td>
            </tr>
          </thead>
          <tbody>
            {% for estudiante in lista_estudiantes %}
            <tr>
              <td>{{estudiante.alumno_id}}</td>
              <td>{{estudiante.cedula}}</td>
              <td>{{estudiante.nombre}}</td>
              <td>{{estudiante.apellido}}</td>
              {%for paralelo in paralelos%}
                {%if paralelo['paralelo_id'] == estudiante['paralelo_id']%}
                  <td>{{paralelo.nombre_paralelo}}</td>
                {%endif%}
              {% endfor %}
              {% if current_user.is_admin() or '3' in permisos %}
              <td>
                <a href="/edit/{{estudiante.alumno_id}}" class="btn btn-secondary">Editar<img style="margin-left:10px;" width="15px" height="15px" src="{{url_for('static', filename='images/icon-edit.png')}}" alt=""></a>
                <a href="/delete/{{estudiante.alumno_id}}" class="btn btn-danger btn-delete">Eliminar<img style="margin-left:10px;" width="15px" height="15px" src="{{url_for('static', filename='images/icon-trash.png')}}" alt="x"></a>
              </td>
            </tr>
             {%endif%}
            {% endfor %}
          </tbody>
        </table>
</div>
{% endblock %}