{% extends "administracion.html" %} 
{% block ver_act %}
<div>
     <form action="/lista_actividades" method="post">
       <div class="form-group row">
          <label class="col-sm-4 col-form-label col-form-label-lg" for="anio_periodos">Seleccione el periodo lectivo</label>
          <select class="form-select col-sm-5" name="periodo" id="periodo">
               {% for periodo in periodosList: %}
               <option value="{{periodo['anio']}}">{{periodo['anio']}}</option>
               {%endfor%}
          </select>
          <div class="col-sm-2">
               <input class="btn btn-primary" type="submit" id="botonenviar" value="Mostrar">
          </div>
       </div>
     </form>

     <hr>

     <table class="table table-striped table-hover table-bordered table-sm bg-white">
          <thead>
            <tr>
              <td>ID</td>
              <td>Materia</td>
              <td>Actividad</td>
              <td>Fecha</td>
              <td>Estado</td>
            </tr>
          </thead>
          <tbody>
            {% for actividad in lista_actividades %}
            <tr>
              <td>{{actividad.actividad_id}}</td>
              <td>{{actividad.materia_nombre}}</td>
              <td>{{actividad.nombre_actividad}}</td>
              <td>{{actividad.fecha}}</td>
              {% if actividad['estado'] == True %}
              <td>En curso</td>
              {%else%}
              <td>Terminada</td>
              {%endif%}
              {% if current_user.is_admin() or '7' in permisos %}
              <td>
                <a href="/edit_act/{{actividad.actividad_id}}" class="btn btn-secondary">Editar</a>
                <a href="/delete_act/{{actividad.actividad_id}}" class="btn btn-danger btn-delete">Eliminar</a>
                <a href="/ver_notas/{{actividad.actividad_id}}" class="btn btn-info btn-delete">Notas</a>
              </td>
            </tr>
             {%endif%}
            {% endfor %}
          </tbody>
        </table>
</div>
{% endblock %}